.fade-in {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}

.fade-out {
    animation: fadeOut ease 3s;
    -webkit-animation: fadeOut ease 3s;
    -moz-animation: fadeOut ease 3s;
    -o-animation: fadeOut ease 3s;
    -ms-animation: fadeOut ease 3s;
  }
  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
  }
}

  

button {
    display: flex;
    flex: 1,auto;
    justify-content:space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 20%;
    height:max-content;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    border-width: 5px;
}

.header {
    display: flex;
    justify-content:center;
    background-color: rgb(173, 106, 106);
    color: rgb(48, 15, 15);
    font-size: x-large;
    width: 100%;
    padding: 2%;
    padding: 2%;
}

#temp-text {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    padding-top: 2%;
    padding-bottom: 80%;
    flex-wrap:wrap;
}

.footer {
    display: flex;
    justify-content:center;
    background-color: rgb(173, 106, 106);
    color: rgb(48, 15, 15);
    font-size: x-large;
    width: 100%;
    padding-top: 20%;
}

#start-game {
    font-size: 30px;
    font-weight: 60;
}

#selections {
    justify-content:space-around;
    margin: 5% auto 5% auto;
    display: none;
    height: 80%;
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 221, 221);
    margin-left: 0px;
    margin-right: 0px;
}

img {
    object-fit:scale-down;    
    height:auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#response-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    font-size: 60px;
    color: rgb(18, 37, 54);
}