.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}

.fade-out {
    animation: fadeOut ease 1s;
    -webkit-animation: fadeOut ease 1s;
    -moz-animation: fadeOut ease 1s;
    -o-animation: fadeOut ease 1s;
    -ms-animation: fadeOut ease 1s;
  }
  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
  }
}

  

button {
    border-radius: 50%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 0;
    margin: 0;
    
}

#next-round {
    display:none;
    justify-content: center;
    align-items: center;
    background-color: rgb(163, 99, 99);
    width: 15vw;
    height: 15vw;
    font-weight: bolder;
}

.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    background-color: rgb(173, 106, 106);
    color: rgb(48, 15, 15);
    font-size: x-large;
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
}

#temp-text {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    padding-top: 2%;
    padding-bottom: 80%;
    flex-wrap:wrap;
}

#footer {
    display: flex;
    justify-content:center;
    align-items: flex-start;
    text-align: center;
    background-color: rgb(173, 106, 106);
    color: rgb(48, 15, 15);
    font-size: 50px;
    width: 100%;
    padding-bottom: 30%;
    padding-top: 1%;
}
#start-game {
    font-size: 30px;
    font-weight: 60;
    height: 250px;
    width: 250px;
    background-image:url("../img/go.png");
    object-fit: scale-down;
    background-size: contain;
}

#try-again {
  font-size: 6px;
  font-weight: 60;
  width: 30vw;
  height: 30vw;
  background-image:url("../img/try_again.png");
  object-fit: scale-down;
  background-size: contain;
}

#selections {
    justify-content:space-evenly;
    margin: 5% auto 5% auto;
    display: none;
    /* height: 80%; */
    flex: 1;
    width: 100%;
    margin-bottom: 0;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 221, 221);
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 4%;
    padding-right: 4%;
}

img {
    /* object-fit:scale-down;    
    height:auto;
    width: 100%;
    margin: 0px;
    padding: 0px; */
    object-fit: scale-down;
    width: 30vw;
    height: 30vw;
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
}

#response-labels {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 0;
    font-size:xx-large;
    color: rgb(18, 37, 54);
    width: 100%;
    margin: 5% auto 5% auto;
    margin-top: 0;
}

#response-label-computer, #response-label-player {
    text-align:center;
    white-space: pre;
    font-size: 6vw;
}

#welcome-text {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-size: 6vw;
    text-emphasis: bold;
    text-align:center;
    white-space: pre;
    width: 20%; */
}
